.logo {
  height: 100%;
  text-transform: uppercase;
  color: var(--white-color);
}

.header {
  background-color: var(--dark-color);
  padding: 15px 0 15px 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.dropdownToggle__wrapper {
  display: flex;
}

.header__icon {
  font-size: 25px;
  fill: var(--white-color);
}

.header__link:hover {
  transition: all 0.3s linear;
}

@media (any-hover: hover) {
  .header__link:hover {
    transform: scale(1.2);
    transition: all 0.1s linear;
  }
}
