.dropdownToggle {
  width: 70px;
  height: 70px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  align-content: center;
}

.dropdownToggle__img::after {
  content: '\d7';
  font-size: 17px;
  color: var(--white-color)
}

.dropdownToggle__text {
  color: var(--white-color);
  font-size: 12px;
}
