.cart__wrapper {
  padding: 30px;
}

.cart__header {
  font-size: 36px;
  font-weight: bold;
}

.cart__content {
  display: grid;
  grid-template-columns: 63% 33%;
  grid-template-rows: 1fr;
  column-gap: 30px;
}

.cart__cards__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 100px 30px;
}
