.hotDeal__wrapper {
  width: 100%;
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.hotDeal__content__wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.hotDeal__heading {
  text-transform: uppercase;
  color: var(--dark-text-color);
}

.hotDeal__text {
  text-transform: uppercase;
  font-size: 24px;
  color: var(--dark-text-color);
}

.bgWrap {
  position: absolute;
  height: 430px;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}
