.counter__wrapper {
  height: 45px;
  width: 145px;
  background-color: var(--light-grey-color);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  user-select: none;
}

.counter__minus {
  padding: 10px;
  cursor: pointer;
}

.counter__plus {
  padding: 10px;
  cursor: pointer;
}

.counter__value {
}
