.eye__icon {
  font-size: 30px;
  fill: var(--dark-color);
  cursor: pointer;
  transition: all 0.3s linear;
}


@media (any-hover: hover) {
  .eye__icon:hover {
    fill: var(--accent-color);
    transition: all 0.1s linear;
  }
}
