.footer {
  width: 100%;
  height: 150px;
  background-color: var(--footer-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.github__link {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  gap: 10px;
}

.github__text {
  color: var(--white-color);
  text-transform: capitalize;
  font-size: 20px;
}

.github__icon {
  font-size: 50px;
  fill: var(--white-color);
  transition: all 0.3s linear;
}

@media (any-hover: hover) {
  .github__link:hover > .github__icon {
    fill: var(--accent-color);
    transition: all 0.1s linear;
  }
}
