:root {
  --white-color: #FFFFFF;
  --accent-color: #D10024;
  --text-color: #777272;
  --light-grey-color: #D9D9D9;
  --dark-color: #15161D;
  --kek-color: #000000;
  --footer-color: #22232E;
  --dark-text-color: #333333;
  --input-border-color: #B5A9A9;

}


 /* #FFFFFF; */
 /* #D10024; */
 /* #777272; */
 /* #D9D9D9; */
 /* #15161D; */
 /* #000000; */
 /* #22232E; */
 /* #333333; */
 /* #B5A9A9; */


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
}
